@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: #fff; 
    height: 100%;
    margin: 0;
    font-family: 'quicksand', sans-serif;
    line-height: 1.5;
}

h1,h2,h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 3rem;
    }
    &.sm-heading {
        margin-bottom: 1rem;
        font-family: 'Marck Script', cursive;
    }
    &.logo {
        position: absolute;
        z-index: 3;
        top: 25px;
        left: 50px;
        font-family: 'Satisfy', cursive;
    }
    // for the projects page
    &#title {
        font-weight: 500;
        text-align: center;
    }
}

a {
    color: #fff;
    text-decoration: none;
}


header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px); //page height - footer

    // Home Page Icons    
    .icons {
        a {
            padding: 0.4rem;
            color: #fff;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        color: #fff;
        overflow: hidden;
        h1 {
            margin-top: 30vh;
            margin-left: 10vh;
        }
        h2 {
            margin-left: 10vh;
        }
        .icons {
            margin-top: 20px;
            margin-left: 10vh;
        }
        #btnHire {
            margin-left: 10vh;
        }
        #bold {
            font-weight: 900;
            font-family: sans-serif;
        }
        #unique {
            font-family: sans-serif;
            font-style: italic;
        }
    }
    &#about {
        overflow: hidden;
        h1 {
            margin-top: 5vh;
        }
    }
    &#work {
        overflow: hidden;
        h1 {
            margin-top: 5vh;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bio-image bio bio'
    'gear1 gear2 gear3';
    grid-template-columns: (repeat3, 1fr);
    .bio-image {
        grid-area: bio-image;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 5px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1rem;
        padding: 20px;
        li {
            text-align: left;
        }
        h3{ 
            font-weight: 700;
        }
    }
    
    .gear {
        background: lighten($secondary-color, 5);
        padding: 1rem;
        border-radius: 8px;
        border-bottom: $primary-color 5px solid;
        color: #fff;
        text-align: left;
        li {
            margin: 0 10%;
        }
    }
    
    .gear-1 {
        grid-area: gear1;
    }
    
    .gear-2 {
        grid-area: gear2;
    }
    
    .gear-3 {
        grid-area: gear3;
    }
}

.projects {
    display: grid;
    grid-template-areas:
        'item-pic1 item-desc1'
        'item-desc2 item-pic2'
        'item-pic3 item-desc3';
    grid-template-columns: repeat(2, 1f);
    grid-gap: 5rem;
    margin-top: 10vh;
    justify-items: center;
    img {
        height: 350px;
        width: 350px;
        border-radius: 15px;
        //border: 3px #fff solid;
        box-shadow: 8px 8px 10px rgb(153, 153, 153);
        &:hover {
            opacity: 0.6;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
    li {
        margin: 0 10%;
    }

    .item-1 {
        grid-area: item-pic1;
    }
    .item-desc-1 {
        grid-area: item-desc1;
    }
    .item-2 {
        grid-area: item-pic2;
    }
    .item-desc-2 {
        grid-area: item-desc2;
    }
    .item-3 {
        grid-area: item-pic3;
    }
    .item-desc-3 {
        grid-area: item-desc3;
    }
}

// Button Styles
.btn {
    display: inline-block;
    border: 2px solid #000;
    color: #fff;
    background: none;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);

    &:hover {
        padding: 16px 44px;
        @include easeOut;
        box-shadow: none;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
    margin-top: 5%;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
    margin-top: 5%;
}

#btnHire {
    @extend .btn;
    position: relative;
    letter-spacing: 4px;
    background: rgba(255,255,255,0.1);
    border: none; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-transform: uppercase;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255,255,255,.1);
        
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,.4),transparent);
        transition: 0.5s;
        transition-delay: 0.2s;
    }
    &:hover:after {
        left: 100%;
    }
    & span {
        position: absolute;
        display: block;
        transition: 0.5s ease;
    }
    & span:nth-child(1) { // top-left going right
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #fff;
    }
    &:hover span:nth-child(1) { 
        width: 100%;
        transform: translateX(100%);
    }
    & span:nth-child(3) { // top-right going left
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background: #fff;
    }
    &:hover span:nth-child(3) {
        width: 100%;
        transform: translateX(-100%);
    }
    & span:nth-child(2) { //top-left going down
        top: 0;
        left: 0;
        width: 1px;
        height: 0;
        background: #fff;
    }
    &:hover span:nth-child(2) {
        height: 100%;
        transform: translateY(100%);
    }
    & span:nth-child(4) { //bottom-right going up
        bottom: 0;
        right: 0;
        width: 1px;
        height: 0;
        background: #fff;
    }
    &:hover span:nth-child(4) {
        height: 100%;
        transform: translateY(-100%);
    }

}

// Contact Info
form-control {
    display: block;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
}

textarea{
    overflow: auto;
    resize: none;
    border-radius: .25rem;
    width: 100%;
    margin-bottom: .5rem;
    line-height: 1.5rem;
    padding: 5px;
}

input {
    border-radius: .25rem;
    line-height: 1.5rem;
    width: 100%;
    padding: 5px;
}
.submit {
    @extend .btn;
    width: 50%;
    margin: .5% 25%;
    text-align: center;
    color: #000;
    border: 3px solid #000;
    
}

label {
    display: inline-block;
    margin: .5rem 0;
}

.download {
    text-align: center;
    a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: $secondary-color;
    }
}

// Footer
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 5);
    color: #fff;
    height: 60px;
    font-size: .8rem;
}

@import 'mobile';