@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: text-colour($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'quicksand', sans-serif;
    line-height: 1.5;
}

h1,h2,h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 3rem;
    }
    &.sm-heading {
        margin-bottom: 1rem;
        font-family: 'Marck Script', cursive;
    }
    &.logo {
        position: absolute;
        z-index: 3;
        top: 25px;
        left: 50px;
        font-family: 'Satisfy', cursive;
    }
    &#title {
        font-weight: 500;
        text-align: center;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px); //page height - footer

    .icons {
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 30vh;
            margin-left: 10vh;
        }
        h2 {
            margin-left: 10vh;
        }
        .icons {
            margin-left: 10vh;
        }
        button {
            margin-left: 10vh;
            margin-bottom: 10px;
        }
    }
    &#about {
        overflow: hidden;
        h1 {
            margin-top: 5vh;
        }
    }
    &#work {
        overflow: hidden;
        h1 {
            margin-top: 5vh;
            //margin-left: 32vh;
        }
        h2 {
            //margin-left: 32vh;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bio-image bio bio'
    'gear1 gear2 gear3';
    grid-template-columns: (repeat3, 1fr);
    .bio-image {
        grid-area: bio-image;
        margin: auto;
        border-radius: 50%;
        border: #000 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1rem;
        padding: 20px;
        li {
            margin: 0 30%;
            text-align: left;
        }
    }
    
    .gear {
        background: lighten($primary-color, 5);
        padding: 1rem;
        //border-bottom: #000 5px solid;
        box-shadow: 3px 3px 25px #000;
        text-align: left;
        li {
            margin: 0 10%;
        }
    }
    
    .gear-1 {
        grid-area: gear1;
    }
    
    .gear-2 {
        grid-area: gear2;
    }
    
    .gear-3 {
        grid-area: gear3;
    }
}

.projects {
    display: grid;
    grid-template-areas:
        'item-pic1 item-desc1'
        'item-desc2 item-pic2';
    grid-template-columns: repeat(2, 1f);
    grid-gap: 0.7rem;
    margin-top: 10vh;
    justify-items: center;
    img {
        height: 350px;
        width: 350px;
        border: 3px #fff solid;
        &:hover {
            opacity: 0.5;
            border-color: #000;
            @include easeOut;
        }
    }
    li {
        margin: 0 10%;
    }

    .item-1 {
        grid-area: item-pic1;
    }
    .item-desc-1 {
        grid-area: item-desc1;
    }
    .item-2 {
        grid-area: item-pic2;
    }
    .item-desc-2 {
        grid-area: item-desc2;
    }
}

// Button Styles
.btn {
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    padding: 12px 40px;
    cursor: pointer;

    &:hover {
        padding: 16px 44px;
        color: text-colour;
        border: 2px solid $secondary-color;
        @include easeOut;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
    margin-top: 5%;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
    margin-top: 5%;
}




#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: text-colour($primary-color);
    height: 60px;
    font-size: .8rem;
}

@import 'mobile';